{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Post App</h1>
        <p class="lead">A information website built with Django.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}"
               role="button">View All Post</a>
        </p>
    </div>
{% endblock content %}