{% extends 'base.html' %}
{% block title %}
    Post Detail
{% endblock title %}
{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>by {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}</p>
    </div>
    <p><a href="{% url 'post_update' post.pk %}">Edit</a> |
        <a href="{% url 'post_delete' post.pk %}">Delete</a>
    </p>
    <p>Back to <a href="{% url 'post_list' %}">All Post</a>.</p>
{% endblock content %}