{% extends 'base.html' %}
{% block title %}Post List{% endblock title %}
{% block content %}
    {% for post in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ post.title }}</span> &middot;
                <span class="text-muted">by {{ post.author }} |
                    {{ post.date }}</span>
            </div>
            <div class="card-body">
                {{ post.body }}
                <a href="{% url 'post_update' post.pk %}">Edit</a> |
                <a href="{% url 'post_delete' post.pk %}">Delete</a>
            </div>
            <div class="card-footer ">
                {% for comment in post.comments.all %}
                    <p>
                    <span class="font-weight-bold">{{ comment.author }}&middot;</span>
                    {{ comment }}
                    </p>
                    {% endfor %}

            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock content %}