{% extends 'base.html' %}
{% block title %}
    Post Update
{% endblock title %}
{% block content %}
    <h2>Edit</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info ml-2"
                type="submit">Update
        </button>
    </form>
{% endblock content %}